In [1]:
import pandas as pd

In [7]:
superstore = pd.read_excel("./Superstore pivot class.xlsx")

In [8]:
superstore

          Unnamed: 0 Unnamed: 1
0                NaN        NaN
1        Total Sales        NaN
2        710137.0714        NaN
3                NaN        NaN
4                NaN        NaN
..               ...        ...
85        Paul Prost         34
86       Seth Vernon         32
87     William Brown         37
88  Zuschuss Carroll         31
89       Grand Total        360

[90 rows x 2 columns]